.page{
    background-color: #2A2C2F;
    height: 7000px;
    margin: 0 0 0 0;
    
}

@media screen and (max-width: 1280px) {
    .page{
        height: 6970px;
    }
}

@media screen and (max-width: 1024px) {
    .page{
        height: 6870px;
    }
}

@media screen and (max-width: 768px) {
    .page{
        height: 10023px;
    }
}