
.header{
    display: flex;
    justify-content: space-between;
    
    
    
    margin: 28px auto 0 auto;
    width: 1184px;
    height: 52px;
    
}
@media screen and (max-width: 1280px) {
    .header{
        width: 928px;
        margin-top: 28px;
    }
}

@media screen and (max-width: 1024px) {
    .header{
        width: 720px;
        margin-top: 28px;
    }
}

@media screen and (max-width: 768px) {
    .header{
        width: 288px;
        height: 42px;
        margin-top: 16px;
    }
}